= render "application/common_content"

:ruby
  h = {
    controller: :kyoto  ,
    icon_basename: :bus ,
    message_while_waiting: "金閣寺へ行くための列車" ,
    schedule_title: "次の金閣寺方面のバス" ,
    code: 205 ,
    direction: "金閣寺" ,
    terminal: "北大路バスターミナル" ,
    time: "12:34" ,
    stop_info: "このバスに乗車し、「金閣寺道」でおりてください"
  }

= alert_normal_content(h)
